.Rproj.user
.Rhistory
.RData
.Ruserdata
/data
NC_IDALL (basic person & family info) - NTR Project Documentation.pdf
histograms_CBCL.pdf
histograms_spybs.pdf
doc/.$Flowchart_N_subjects.drawio.bkp
old_code_snips.R
scripts/data_covariates.RData
/mplus_files
old_mplus_CBCL.txt
scripts/sandbox*
scripts/output.*
scripts/bootstrap_variability*
/bash/old
/bash/slurm_output_B
/bash/slurm_output_C
/bash/slurm_output_D
/bash/slurm_output_E
scripts/.vscode/
scripts/script_overlap_sample_CBCL_PGS.R
scripts/additional_analyses_bootstrapping_hypertuning.R
scripts/extracting_bootstrap_infor_model_A.r
scripts/model_metrics_ABCD.R
/mplus_server
scripts/analysis_LGM_pt1.R
scripts/script_correction_iterations.R
scripts/output_correction_iteration.txt
scripts/cheatsheet_CBCL.R
scripts/old
scripts/other_analyses/
scripts/re_run_iterations/
scripts/bootstrap_stability_tutorial/
confounder_analysis_combined_final.png