.Rproj.user
.Rhistory
.RData
.Ruserdata
/data
NC_IDALL (basic person & family info) - NTR Project Documentation.pdf
histograms_CBCL.pdf
histograms_spybs.pdf
doc/.$Flowchart_N_subjects.drawio.bkp
old_code_snips.R
scripts/data_covariates.RData
workspace_2024_08_13.RData
scripts/04a_data_cleaning_filtering1a.R
scripts/0x_simulation_autocorrelation_ar.R
/mplus_files
old_mplus_CBCL.txt
scripts/sandbox*
scripts/output.*
scripts/bootstrap_variability*
/bash
scripts/bootstrap_plot_simulation.R
scripts/script_final_run_1_cluster.R
scripts/.vscode/
scripts/script_overlap_sample_CBCL_PGS.R
scripts/10_inspection_bootstrap_stability.R
scripts/additional_analyses_bootstrapping_hypertuning.R
scripts/extracting_bootstrap_infor_model_A.r
scripts/09_1_A_run_bootstrap_stability.R
scripts/09_2_A_run_bootstrap_stability.R
scripts/09a_save_prepared_data.R